<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/00a29b1fe9.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/tools.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}

    <title>Simple Coder</title>
</head>
<body>

    {% for alert in flash.alert %}
        {% if alert.danger %}
            <div class="alert alert-top alert-danger" role="alert">
                <i class="fas fa-times mr-1"></i> {{ alert.danger}}
            </div>
        {% elseif alert.success %}
            <div class="alert alert-top alert-success" role="alert">
                <i class="fas fa-check mr-1"></i> {{ alert.success}}
            </div>
        {% endif %}
    {% endfor %}

    <header class="container">
        <div class="row vh-25">
            <div class="col-xl-5 h-100 d-flex justify-content-start align-items-center tech-font">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle tech-font text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-filter mr-1"></i>Catégories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {% for global_category in global_categories %}
                                        <a class="dropdown-item tech-font" href="/post/category/{{ global_category.name | lower | remove_accent }}">{{ global_category.name }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xl-2 h-100 d-flex flex-column justify-content-center align-items-center">
                <a href="/"><div class="bg-custom-dark rounded-circle php-border text-center px-4 py-3">
                    <i class="fas fa-laptop-code text-white fs-4em mt-2 mb-2"></i>
                    <h5 class="tech-font text-white">Simple Coder</h5>
                </div></a>
            </div>
            <div class="col-xl-5 h-100 p-0 d-flex justify-content-end align-items-center tech-font">
                {% if session.user %}
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item dropdown btn-group">
                                    <a class="nav-link dropdown-toggle text-dark tech-font" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user mr-1"></i>{{ session.user.firstname }} {{ session.user.lastname }}
                                    </a>
                                    <div class="dropdown-menu">
                                        {%  if session.user.role == 'ADMIN' %}
                                            <a class="dropdown-item tech-font" href="/post/create">Rédiger</a>
                                        {% endif %}
                                        <a class="dropdown-item tech-font" href="/post/pinned">Favoris</a>
                                        {%  if session.user.role == 'ADMIN' %}
                                            <a class="dropdown-item tech-font" href="/dashboard/post">Administration</a>
                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item tech-font text-danger" href="/user/logout"><i class="fas fa-sign-out-alt mr-1"></i>Deconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% else %}
                    <button class="btn btn-sm bg-php text-white" data-toggle="modal" data-target="#registration_modal"><i class="fas fa-user-plus mr-1"></i> Inscription</button>
                    <button class="btn btn-sm btn-outline-dark ml-2" data-toggle="modal" data-target="#login_modal"><i class="fas fa-sign-in-alt ml-1 mr-1"></i> Connexion</button>
                {% endif %}
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="container-fluid bg-custom-dark">
        <div class="row h-100 py-4">
            <div class="col-xl-4 b-r-grey">
                <form class="w-90 mx-auto my-3">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre nom" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Sujet" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" placeholder="Votre message" required></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" required>
                        <small class="form-text text-muted">Vos données ne seront jamais utilisé en dehors de ce message.</small>
                    </div>
                    <button type="submit" class="btn btn-light form-control">Envoyer</button>
                </form>
            </div>
            <div class="col-xl-4 b-r-grey"></div>
            <div class="col-xl-4 text-center">
                <button class="btn text-white bg-php"><i class="fas fa-download mr-1"></i>Télécharger mon CV</button>
            </div>
        </div>
    </footer>

    <!-- Registration Modal -->
    <div class="modal fade" id="registration_modal" tabindex="-1" aria-labelledby="registration_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="row">
                    <figure class="col-xl-5 mb-0 p-0">
                        <img src="{{ asset('/images/bg-modal-login.jpg') }}" alt="" class="cover rounded-left">
                    </figure>
                    <div class="col-xl-7 pl-0">
                        <div class="modal-body px-4 pb-1">
                            <h3 class="title-font text-center mb-3">Je m'inscris</h3>
                            <form action="/user/create" method="post">

                                <small id="registration_firstname_error" class="text-danger"></small>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend w-12">
                                        <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-user-plus"></i></div>
                                    </div>
                                    <input type="text" class="form-control border border-dark" name="sign_up_firstname" placeholder="Prénom">
                                </div>

                                <small id="registration_lastname_error" class="text-danger"></small>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend w-12">
                                        <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-user-plus"></i></div>
                                    </div>
                                    <input type="text" class="form-control border border-dark" name="sign_up_lastname" placeholder="Nom">
                                </div>

                                <small id="registration_email_error" class="text-danger"></small>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend w-12">
                                        <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-envelope"></i></div>
                                    </div>
                                    <input type="email" class="form-control border border-dark" name="sign_up_email" placeholder="Adresse e-mail">
                                </div>

                                <small id="registration_password_error" class="text-danger"></small>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend w-12">
                                        <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-lock-open"></i></div>
                                    </div>
                                    <input type="password" class="form-control border border-dark" name="sign_up_password" placeholder="Choisissez un mot de passe">
                                </div>

                                <small id="registration_confirm_password_error" class="text-danger"></small>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend w-12">
                                        <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-lock"></i></div>
                                    </div>
                                    <input type="password" class="form-control border border-dark" name="sign_up_confirm_password" placeholder="Confirmez le mot de passe">
                                </div>

                                <div class="form-group">
                                    <button id="registration-btn" type="submit" class="btn btn-dark form-control">Valider mes informations</button>
                                </div>

                                <div id="registration_done"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="login_modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="login_container" class="modal-body px-5 pt-4">
                    <div id="login_logo" class="mb-4"><i class="fas fa-sign-in-alt text-white bg-php rounded-circle fs-4em p-4"></i></div>
                    <form action="/user/login" method="POST" class="mt-5">
                        <small id="login_email_error" class="text-danger"></small>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-user"></i></div>
                            </div>
                            <input type="email" class="form-control border border-dark" name="login_email" placeholder="Adresse e-mail">
                        </div>

                        <small id="login_password_error" class="text-danger"></small>
                        <div class="form-group input-group mb-0">
                            <div class="input-group-prepend">
                                <div class="input-group-text text-white bg-dark border border-dark w-100"><i class="fas fa-lock"></i></div>
                            </div>
                            <input type="password" class="form-control border border-dark" name="login_password" placeholder="Mot de passe">
                        </div>
                        <small class="d-block text-muted text-right my-2 pointer" id="reset_password_btn">Mot de passe oublié ?</small>

                        <div class="form-group">
                            <button class="btn btn-dark form-control" id="login_btn">Se connecter</button>
                        </div>

                        <div id="login_succeeds"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}

    <script type="text/javascript">

        // Registration AJAX
        $('#registration-btn').click(function(){
            event.preventDefault();

            $.ajax({
                method: 'POST',
                url: '/user/create',
                data : {
                    sign_up_firstname: $('input[name=\'sign_up_firstname\']').val(),
                    sign_up_lastname: $('input[name=\'sign_up_lastname\']').val(),
                    sign_up_email: $('input[name=\'sign_up_email\']').val(),
                    sign_up_password: $('input[name=\'sign_up_password\']').val(),
                    sign_up_confirm_password: $('input[name=\'sign_up_confirm_password\']').val()
                }
            })
            .done(function(data){

                // Reset Errors containers
                $('#registration_firstname_error').html('');
                $('#registration_lastname_error').html('');
                $('#registration_email_error').html('');
                $('#registration_password_error').html('');
                $('#registration_confirm_password_error').html('');

                if(data['registration_firstname_error']){   $('#registration_firstname_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_firstname_error']); }
                if(data['registration_lastname_error']){    $('#registration_lastname_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_lastname_error']); }
                if(data['registration_email_error']){       $('#registration_email_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_email_error']); }
                if(data['registration_password_error']){    $('#registration_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_password_error']); }
                if(data['registration_exist_error']){       $('#registration_email_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_exist_error']); }
                if(data['registration_numeric_error']){     $('#registration_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_numeric_error']); }
                if(data['registration_lower_error']){       $('#registration_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_lower_error']); }
                if(data['registration_upper_error']){       $('#registration_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_upper_error']); }
                if(data['registration_length_error']){      $('#registration_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_length_error']); }
                if(data['registration_match_error']){       $('#registration_confirm_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_match_error']); }
                if(data['registration_confirm_error']){     $('#registration_confirm_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['registration_confirm_error']); }

                if(data['registration_done'])
                {
                    $('#registration-btn').hide();
                    $('form :input').val('');

                    $('#registration_done').html('' +
                        '<div class="alert alert-success" role="alert">' +
                        '<i class="fas fa-check mr-1"></i>' + data['registration_done'] +
                        '</div>'
                    );

                    setTimeout(function(){
                        window.location.replace("/");
                    }, 1000);
                }
            });
        });


        // Login AJAX
        $('#login_btn').click(function(){
            event.preventDefault();

            $.ajax({
                method: 'POST',
                url: '/user/login',
                data : {
                    login_email: $('input[name=\'login_email\']').val(),
                    login_password: $('input[name=\'login_password\']').val()
                }
            })
            .done(function(data){

                // Reset Errors containers
                $('#login_email_error').html('');
                $('#login_password_error').html('');

                if(data['login_email_error']){   $('#login_email_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['login_email_error']); }
                if(data['login_password_error']){    $('#login_password_error').html('<i class="fas fa-exclamation-triangle mr-1"></i>' + data['login_password_error']); }

                if(data['login_succeeds'])
                {
                    $('#login_btn').hide();
                    $('form :input').val('');

                    $('#login_succeeds').html('' +
                        '<div class="alert alert-success" role="alert">' +
                        '<i class="fas fa-check mr-1"></i>' + data['login_succeeds'] +
                        '</div>'
                    );

                    setTimeout(function(){
                        window.location.replace("/");
                    }, 1000);
                }
            });
        });


        // Reset password by email modal
        $('#reset_password_btn').click(function(){
            $('#login_container').html('' +
                '<h3 class="title-font mb-3">Reinitialiser le mot de passe</h3>' +
                '<form action="">' +
                    '<div class="form-group">' +
                        '<input type="email" class="form-control" name="email_reset_password" placeholder="Adresse e-mail">' +
                    '</div>' +

                    '<div class="form-group">' +
                        '<button id="valid_reset_btn" class="btn btn-php w-100" >Modifier</button>' +
                    '</div>' +
                '</form>' +
            '');
        });


        // Auto hide alert
        if($('.alert-top').html())
        {
            $('.alert-top').slideDown();

            setTimeout(function(){
                $('.alert').slideUp();
            }, 3000);
        }

    </script>

</body>
</html>
