<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/00a29b1fe9.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/tools.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>Manage your data</title>
</head>
<body>

{% for alert in flash.alert %}
    {% if alert.danger %}
        <div class="alert alert-top alert-danger" role="alert">
            <i class="fas fa-times mr-1"></i> {{ alert.danger}}
        </div>
    {% elseif alert.success %}
        <div class="alert alert-top alert-success" role="alert">
            <i class="fas fa-check mr-1"></i> {{ alert.success}}
        </div>
    {% endif %}
{% endfor %}

<div class="d-flex d-xl-none vh-100 flex-column justify-content-center align-items-center">
    <iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/JIX9t2j0ZTN9S">via GIPHY</a></p>
    <h1 class="mt-3 text-center">Pour plus de confort l'administration n'est utilisable que sur la version desktop.</h1>
</div>

<main class="d-none d-xl-block container-fluid">
    <div class="row vh-100">
        <div class="col-xl-2 bg-custom-dark p-0 position-fixed vh-100">
            <a href="/"><div class="bg-custom-dark rounded-circle php-border text-center w-60 p-4 m-4 mx-auto">
                <i class="fas fa-laptop-code text-white fs-4em mt-2 mb-2"></i>
                <h5 class="tech-font text-white">Simple Coder</h5>
            </div></a>

            <ul class="p-0 manage">
                <li class="pl-4"><a href="/dashboard/post" class="text-light"><i class="fas fa-pen-nib mr-2"></i> Posts <span class="badge badge-light ml-2">{{ countPost }}</span></a></li>
                <li class="pl-4"><a href="/dashboard/comment" class="text-light"><i class="fas fa-comments mr-2"></i> Comments <span class="badge badge-light ml-2">{{ countComment }}</span></a></li>
                <li class="pl-4"><a href="/dashboard/category" class="text-light"><i class="fas fa-filter mr-2"></i> Categories <span class="badge badge-light ml-2">{{ countCategory }}</span></a></li>
                <li class="pl-4"><a href="/dashboard/tags" class="text-light"><i class="fas fa-tags mr-2"></i> Tags <span class="badge badge-light ml-2">{{ countTags }}</span></a></li>
                <li class="pl-4"><a href="/dashboard/user" class="text-light"><i class="fas fa-user mr-2"></i> Users <span class="badge badge-light ml-2">{{ countUser }}</span></a></li>
            </ul>
        </div>
        <div class="col-xl-10 offset-xl-2 bg-light-grey">

            <div class="row mx-3 my-4 rounded-lg">
                <div class="col-xl-4 pl-0">
                    <div class="card bg-white border-white manage-header">
                        <div class="card-body h-100 d-flex justify-content-evenly align-items-center">
                            <h6 class="m-0 tech-font">
                                {% if reported == 0 %}
                                    <i class="fas fa-check text-success mr-1"></i> No reported comments
                                {% else %}
                                    <i class="fas fa-exclamation-triangle text-danger mr-1"></i> {{ reported }} reported comments
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 pl-0 pr-0">
                    <div class="card bg-white border-white manage-header">
                        <div class="card-body h-100 d-flex justify-content-evenly align-items-center">
                            <a href="/post/create"><button class="btn btn-outline-secondary tech-font"><i class="fas fa-pen mr-1"></i> Write a new post</button></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 pr-0">
                    <div class="card bg-white border-white manage-header">
                        <div class="card-body h-100 d-flex justify-content-evenly align-items-center">
                            <i class="fab fa-github c-github social-links"></i>
                            <i class="fab fa-linkedin c-linkedin social-links"></i>
                            <i class="fab fa-twitter c-twitter social-links"></i>
                            <i class="fab fa-instagram c-instagram social-links"></i>
                        </div>
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}

        </div>
    </div>
</main>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}

<script type="text/javascript">

    // Auto hide alert
    if($('.alert-top').html())
    {
        $('.alert-top').slideDown();

        setTimeout(function(){
            $('.alert').slideUp();
        }, 3000);
    }

</script>

</body>
</html>