{% extends 'base.html.twig' %}

{% block stylesheets %}

    <!-- Trumbowyg -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/ui/trumbowyg.min.css" integrity="sha512-XjpikIIW1P7jUS8ZWIznGs9KHujZQxhbnEsqMVQ5GBTTRmmJe32+ULipOxFePB8F8j9ahKmCjyJJ22VNEX60yg==" crossorigin="anonymous" />

    <!-- Trumbowyg Plugins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/emoji/ui/trumbowyg.emoji.min.css" integrity="sha512-HHkhRBTKPhCV3wLmPUkJ7Fsh5bqPktafM9E+kHfrJUOzwBvO3P6dIPHBHQhN84hNolWM3/OZ74555jng1uAaaQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/colors/ui/trumbowyg.colors.min.css" integrity="sha512-bt6OjXIcEvAqCXgYV7WuqbOSgC5uzxTE0KKpKoKKYlGLN80yHsgp0h/17Nwm1oGuA74g4IUV0BeIeO8TWtx2ew==" crossorigin="anonymous" />

{% endblock %}


{% block body %}

    <section class="container-fluid mb-4">
        <figure class="row vh-65">
            <img src="{{ asset('images/bg-write.jpg') }}" alt="" class="cover">
        </figure>
    </section>

    <main class="container">
        <form action="/post/create" method="post" enctype="multipart/form-data">
            <div class="row mt-5">
                <div class="col-xl-8">
                    <div class="form-group">
                        <h4 class="tech-font">Titre de l'article</h4>
                        <input class="form-control" type="text" name="title" required>
                    </div>
                    <div class="form-group mt-5">
                        <h4 class="tech-font">Contenu de l'article</h4>
                        <textarea id="wysiwyg" class="form-control wysiwyg" name="content" rows="30" required></textarea>
                    </div>
                </div>
                <aside class="col-xl-4 text-right">
                    <div class="row">
                        <div class="col-xl-12">
                            <h4 class="tech-font">Couverture</h4>
                            <input type="hidden" name="MAX_FILE_SIZE" value="3000000">
                            <input class="form-control" type="file" name="cover" required>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-xl-12">
                            <h4 class="tech-font">Catégories</h4>

                            <select id="js_category_container" class="form-control mt-3" name="category" required>
                                {% for category in categories %}
                                <option id="category-{{ category.name }}" value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <small class="text-light-grey pointer" data-toggle="modal" data-target="#categoryModal"><i class="fas fa-plus
                            mr-1"></i>Ajouter une nouvelle catégorie</small>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-xl-12">
                            <h4 class="tech-font">Tags</h4>

                            <div class="js_tags_container">
                                {% for tag in tags %}
                                <div class="badge badge-spill badge-dark ml-1 mb-2 pointer">
                                    <input class="pointer" type="checkbox" id="tag-{{ tag.name }}" name="tags[]" value="{{ tag.id }}">
                                    <label class="pointer mt-2 mb-1" for="tag-{{ tag.name }}">
                                        {{ tag.name }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                            <small class="d-block text-light-grey pointer" data-toggle="modal" data-target="#tagsModal"><i class="fas
                             fa-plus mr-1"></i>Ajouter un nouveau tag</small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-5">Publier l'article<i class="fas fa-pencil-alt ml-2"></i></button>
                </aside>
            </div>
        </form>
    </main>

    <!-- Category Modal -->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="tech-font mt-3 mb-4 text-center">Ajouter une nouvelle catégorie</h4>
                    <form action="/category/create" method="post">
                        <div class="form-group">
                            <input id="categoryName" type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <button id="categoryName-btn" type="submit" class="btn btn-success form-control" data-dismiss="modal">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Tags Modal -->
    <div class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="tech-font mt-3 mb-4 text-center">Ajouter un nouveau tag</h4>
                    <form action="/tags/create" method="post">
                        <div class="form-group">
                            <input id="tagName" type="text" class="form-control" name="tagName" required>
                        </div>
                        <div class="form-group">
                            <button id="tagName-btn" type="submit" class="btn btn-success form-control" data-dismiss="modal">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    <!-- Trumbowyg -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/trumbowyg.min.js" integrity="sha512-l6MMck8/SpFCgbJnIEfVsWQ8MaNK/n2ppTiELW3I2BFY5pAm/WjkNHSt+2OD7+CZtygs+jr+dAgzNdjNuCU7kw==" crossorigin="anonymous"></script>

    <!-- Trumbowyg plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/emoji/trumbowyg.emoji.min.js" integrity="sha512-jtbiwT9IGZNlEvNs1ucp5he8rMC16gHopV82UnT/MiNjNZ2JQaIhmGym0BZcKAWOKM5JB1QjeC1O/S38nezrQA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/colors/trumbowyg.colors.min.js" integrity="sha512-MtdxZ2i4tikTLm/2YRpUNcnDIXMEzJ0cHO7wR7qzBUBoGlTl68K6Wg9wWxTuY6erAFJij6twNNLaooPn8rz1SA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/fontsize/trumbowyg.fontsize.min.js" integrity="sha512-GLY8MrCsOC5bS3L+wvum47RI7PS1f87fFi2GghrC6nzZkwNyZVARaCfy/IMAtYhz2+xr+CtlKje8PInZa17Sgw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/fontfamily/trumbowyg.fontfamily.min.js" integrity="sha512-FXaZ7KeSU9t4ldiebiah3YAMbRpGyw2rJRa7UDllV8aCPgBsqz8PVoglFiHjAATnlnWgOztIZDT8G4T8PkkLHA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/upload/trumbowyg.upload.min.js" integrity="sha512-g5wjYAiDs8BUjvYsS72hTfj1N255lOfulYWK/c+SM5JyldgDD9E5cpUSsCqighP7PiSqX+6FlTW48RI85BDqKw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.21.0/plugins/noembed/trumbowyg.noembed.min.js" integrity="sha512-TA4pzJI6gt9XiZBx632qD7IWKIOWFubUhr/d4YQGt/Yt5LL/QGuiu7G/3JuY/EdB1RkV4fJeZJMa5QAt8mpUJw==" crossorigin="anonymous"></script>

    <script>

        // Init Trumbowyg
        $('#wysiwyg').trumbowyg({
            btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['fontsize'],
                ['fontfamily'],
                ['foreColor', 'backColor'],
                ['strong', 'em', 'del'],
                ['superscript', 'subscript'],
                ['link'],
                ['horizontalRule'],
                ['removeformat'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['fullscreen'],
                ['emoji'],
                ['insertImage'],
                ['upload'],
                ['noembed']
            ],
            plugins: {
                upload: {
                    serverPath: 'https://api.imgur.com/3/image',
                    fileFieldName: 'image'
                }
            },
            autogrow: true
        });


        // Add new tag
        $("#tagName-btn").click(function(){
            event.preventDefault();

            $.ajax({
                url: '/tags/create',
                type: 'POST',
                data: { //
                    name : $("#tagName").val()
                },
                datatype : 'string'
            })
            .done(function(data){
                $('.js_tags_container').append(
                    '<div class="badge badge-spill badge-dark ml-1 mb-2 pointer">\n' +
                    '<input class="pointer" type="checkbox" id="tag-' + data['name'] + '" name="tags[]" value="' + data['id'] + '">\n' +
                    '<label class="pointer mt-2 mb-1" for="tag-' + data['name'] + '">\n' +
                    '' + data['name'] + '\n' +
                    '</label>\n' +
                    '</div>'
                );
                $('#tag-'+data['name']).prop('checked', true);
            });
        });


        // Add new category
        $("#categoryName-btn").click(function(){
            event.preventDefault();

            $.ajax({
                url: '/category/create',
                type: 'POST',
                data: { //
                    name : $("#categoryName").val()
                },
                datatype : 'string'
            })
            .done(function(data){
                $('#js_category_container').append(
                    '<option id="#category-'+data['name']+'" value="' + data['id'] + '" selected>' + data['name'] + '</option>'
                );
                $('#category-'+data['name']).prop('selected', true);
            });
        });

    </script>

{% endblock %}