{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid mb-4">
        <figure class="row vh-55">
            <img src="{{ asset('../upload/' ~ post.cover) }}" alt="" class="cover">
        </figure>
    </section>

    <main class="container mb-5">
        <div class="row">
            <div class="col-xl-12 mb-5 mt-5">
                <h1 class="title-font">
                    {% if pin == null %}
                        <a href="/post/pin/{{ post.slug }}"><i class="far fa-bookmark c-php mr-1 pointer"></i></a>
                    {% else %}
                        <a href="/post/pin/{{ post.slug }}"><i class="fas fa-bookmark c-php mr-1 pointer"></i></a>
                    {% endif %}
                    {{ post.title }}
                </h1>

                <h6 class="article-infos mb-1">
                    <i class="far fa-calendar-alt mr-1"></i>{{ post.date | date('d/m/Y') }}
                    <i class="far fa-clock mr-1 ml-3"></i>{{ post.date | date('H:i:s') }}
                    <i class="fas fa-tags mr-1 ml-3"></i>{{ post.category.name }}
                    <i class="fas fa-user mr-1 ml-3"></i>{{ post.user.firstname }} {{ post.user.lastname }}
                </h6>

                <div class="mt-2">
                    {% for tag in tags %}
                        <span class="badge badge-spill badge-dark">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-8">
                <article class="mb-4">
                    <p class="text-justify">
                        {{ post.text | raw }}
                    </p>
                </article>

                <div class="like-container">
                    {% if like == null %}
                        <button class="like-btn btn btn-outline-php"><i class="far fa-thumbs-up mr-2"></i>Like <span class="count_like ml-2">{{ count_like }}</span></button>
                    {% else %}
                        <button class="like-btn btn btn-php" ><i class="fas fa-thumbs-up mr-2"></i>Liked <span class="count_like badge badge-light ml-2">{{ count_like }}</span></button>
                    {% endif %}
                </div>

                <h2 class="text-right mt-5 mb-3"><i class="far fa-comments mr-2"></i>Commentaires</h2>

                {% if(session.user != null) %}
                    <form action="/comment/create" method="POST" class="mb-5">
                        <input type="hidden" name="post" value="{{ post.slug }}">
                        <div class="form-group">
                            <textarea class="form-control" name="text" rows="8"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-php"> Enregistrer</button>
                        </div>
                    </form>
                {% endif %}

                {% if comments is empty %}
                    <h6>Aucun commentaire.</h6>
                {% else %}
                    {% for comment in comments %}
                        {%  if comment.status == 'available' %}
                            <div class="comment py-3 position-relative">
                                <h6 class="mb-1">{{ comment.user.firstname }} {{ comment.user.lastname }}</h6>
                                <h6 class="article-infos mb-3"><i class="far fa-calendar-alt mr-1"></i>{{ comment.date | date('d:m:Y') }} <i class="far fa-clock mr-1 ml-3"></i>{{ comment.date | date('H:i:s') }}</h6>

                                <p class="mb-0">{{ comment.text }}</p>

                                <a href="/comment/report/{{ comment.id }}" class="badge p-2 mt-3 mr-1 fs-1em reported"><i class="fas fa-ban"></i></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <aside class="col-xl-4 vh-100 mt-2">
                <div class="row d-flex justify-content-evenly mt-3 mb-4">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ post.title }}" data-url="" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <div class="fb-share-button" data-href="http://simple-coder.com/post/{{ post.slug }}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://simple-coder.com/post/{{ post.slug }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                    <a data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=http://simple-coder.com/post/{{ post.slug }}" data-pin-config="beside" data-pin-tall="true"></a>
                </div>
                {% if next_post != null %}
                    <div class="row b-t-light b-b-light py-4">
                        <div class="col-xl-10 d-flex flex-column justify-content-center align-items-start">
                            <p class="text-light-grey mb-0">Article suivant</p>
                            <p class="mb-0 text-left"><a href="/post/{{ next_post.slug }}">{{ next_post.title }}</a></p>
                        </div>
                        <div class="col-xl-2 d-flex flex-column justify-content-center align-items-end">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                {% endif %}
                {% if previous_post != null %}
                    <div class="row b-t-light b-b-light py-4 mt-3">
                        <div class="col-xl-2 d-flex flex-column justify-content-center align-items-start">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="col-xl-10 d-flex flex-column justify-content-center align-items-end">
                            <p class="text-light-grey mb-0">Article précédent</p>
                            <p class="mb-0 text-right"><a href="/post/{{ previous_post.slug }}">{{ previous_post.title }}</a></p>
                        </div>
                    </div>
                {% endif %}
            </aside>

        </div>
    </main>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">

        $('.like-btn').click(function(){
            $.ajax({
                url: '/post/like/{{ post.slug }}',
                method: 'GET',
                data: {
                    slug: '{{ post.slug }}'
                }
            })
            .done(function(data){
               if(data === 'like')
               {
                   let count = parseInt($('.count_like').html()) + 1;
                   $('.like-btn').addClass( "btn-php" );
                   $('.like-btn').removeClass( "btn-outline-php" );
                   $('.like-btn').html('<i class="fas fa-thumbs-up mr-2"></i>Liked <span class="count_like badge badge-light ml-2">' + count + '</span>');
               }
               else if(data === 'unlike')
               {
                   let count = parseInt($('.count_like').html()) - 1;
                   $('.like-btn').addClass( "btn-outline-php" );
                   $('.like-btn').removeClass( "btn-php" );
                   $('.like-btn').html('<i class="far fa-thumbs-up mr-2"></i>Like <span class="count_like ml-2">' + count + '</span>');
               }
            });
        });

    </script>

    {# Facebook Button #}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v9.0" nonce="K6ZYHTpq"></script>


    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

{% endblock %}
