{% extends 'dashboard.html.twig' %}

{% block body %}

    <div class="row bg-white mx-3 my-4 p-4 rounded-lg">
        <table class="table">
            <tr>
                <th class="w-15">Thumbnail</th>
                <th class="w-35"><i class="fas fa-sort mr-1"></i> Content</th>
                <th class="w-15"><i class="fas fa-sort mr-1"></i> Author</th>
                <th class="w-15"><i class="fas fa-sort-numeric-down mr-1 text-danger"></i> <i class="fas fa-sort mr-1"></i> Date
                </th>
                <th class="w-10"><i class="fas fa-sort mr-1"></i> Status</th>
                <th class="w-10 text-center">Action</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>
                        <figure class="w-100 m-0">
                            <img src="{{ asset('../upload/' ~ post.cover) }}" alt="{{ post.cover }}" class="w-100">
                        </figure>
                    </td>
                    <td>
                        <a href="/post/{{ post.slug }}"><h5 class="title-font mb-3">{{ post.title }}</h5></a>
                        <p class="text-justify">
                            {{ post.text | slice(0, 150) | raw }}...
                        </p>
                    </td>
                    <td>
                        <small>{{ post.user.firstname }} {{ post.user.lastname }}</small>
                    </td>
                    <td>
                        <small><i class="far fa-calendar-alt mr-1"></i> {{ post.date | date('d/m/Y') }}</small><br/>
                        <small><i class="far fa-clock mr-1"></i> {{ post.date | date('H:i:s') }}</small>
                    </td>
                    <td>
                        {% if post.status == 'available' %}
                            <span class="badge badge-success">{{ post.status }}</span>
                        {% else %}
                            <span class="badge badge-primary">{{ post.status }}</span>
                        {% endif %}
                    </td>
                    <td class="d-flex justify-content-center">
                        <a href="/post/update/{{ post.slug }}"><i class="fas fa-pen text-light-grey pointer"></i></a>
                        {% if post.status == 'available' %}
                            <a href="/post/archiving/{{ post.slug }}"><i class="fas fa-archive text-primary pointer ml-2"></i></a>
                        {% else %}
                            <a href="/post/archiving/{{ post.slug }}"><i class="fas fa-check text-success pointer ml-2"></i></a>
                            <form action="/post/delete/{{ post.slug }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <button type="submit" class="btn btn-link p-0 ml-2" onclick="return confirm('Êtes-vous sur de vouloir supprimer le post : {{ post.title }} ?')"><i class="fas fa-trash text-danger"></i></button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div aria-label="Page navigation" class="mb-5">
            <ul class="pagination">
                {% if get.page and get.page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ get.page - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in 1..pagination %}
                    <li class="page-item {% if get.page == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                {% if get.page < pagination %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ get.page + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {%  endif %}
            </ul>
        </div>
    </div>

{% endblock %}